<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>多商户客服系统测试页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container" style="margin-top:9%;">
    <div class="jumbotron">
        <div class="panel panel-success">
            <div class="panel-heading"><h3>恭喜, 多商户客服系统搭建成功！</h3></div>
        </div>
        <p><h3>站点创建成功，本测试页面由系统自动生成。</h3></p>
        <p><li>在使用多商户客服软件期间，不得危害国家安全、泄露国家秘密， 不得侵犯国家社会集体的和公民的合法权益。<br/>本产品禁止用于含木马、病毒、色情、赌博、诈骗等违法违规业务。本公司对违反规定的可以暂停或终止其服务，并协助有关行政机关等进行追索和查处。</li></p>
    </div>
</div>

<script src="/index/index/chatBoxJs/u/5c6cbcb7d55ca"></script>
<script>xiaotianChat.init();</script>

</body>
</html>